
<button (click)="addPost()" >Dodaj</button>
<button (click)="updatePost()">Aktualizacja</button>
<button (click)="deletePost()">Usuń</button>
<button (click)="patchPost()">Aktualizacja - patch</button>

<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Tytuł</th>
        <th>UserId</th>
        <th>Treść</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts;" (click)="getPost(post.id)">
        <th>{{post.id}}</th>
        <th>{{post.title}}</th>
        <th>{{post.userId}}</th>
        <th>{{post.body}}</th>
      </tr>
    </tbody>
  </table>
