<form (ngSubmit)="onFormSubmit(movieForm)" #movieForm="ngForm">
  <div class="card" style="width: 18rem;">
    <div class="form-group">
      <label for="title">Tytuł</label>
      *<input [(ngModel)]="movie.title" required #title="ngModel"
      minlength="2"
      type="text" id="title" name="title" class="form-control">

      <div *ngIf="title.dirty && title.errors?.minlength"> Nie ma filmy na 1 znak </div>
      <div *ngIf="title.dirty && title.errors?.required"> Pole wymagane </div>

    </div>

    <div>
      <label for="year">Rok</label>
      *<input [(ngModel)]="movie.year" required #year="ngModel"
      type="number" id="year" name="year" class="form-control" [min]=1950 >
      <div *ngIf="year.dirty && year.errors?.required"> Pole wymagane </div>

      <!-- <div *ngIf="year.dirty && year.errors?.min"> za młody </div> -->
      <!-- div *ngIf="year.dirty && year.errors?.max"> za stary </div> -->
    </div>

    <div>
      <label for="rate">Ocena</label>
      <input [(ngModel)]="movie.rate"
      type="text" id="rate" name="rate" class="form-control">
    </div>

    <button type="submit" [disabled]="!movieForm.valid">Wyslij</button>
    <button type="reset">Czysc</button>
  </div>
</form>
